.logo{
    font-size: medium;
}

.logoName{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:20px;
    color:antiquewhite;
    cursor: pointer;
    margin:0;

}
.Linkelements{
    text-decoration: none;
    cursor: pointer;
}

.Navbar_Large{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar_small{
    display:none;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:576px){
    .Navbar_small{
        display:flex;
    }
    .Navbar_Large{
        display: none;
    }
    .menulogo{
        margin:8px;
        color: #ffffff;
        font-size:25px;
    }
    .menuButton{
        border:0 none;
        background-color: transparent;
    }
    .menuContainer{
        padding:0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color:#ffffff;
        width: 150px;
        border:1px solid #ffffff;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .MContainer{
        display: flex;
        justify-content: flex-end;
    }
    .menuListItem{
        font-family: "fantasy";
        font-size: larger;
        margin:8px;
        color:#000000;
    }
    .smallIcons{
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    .iconsInSmall{
        font-size: 25px;
    }
    
}
.NavbarUnorderedlist{
    padding:0;
    display:flex;
    justify-content:flex-end;
    margin:0;
}

.NavItems{
    list-style-type:none;
    margin:15px;
    font-size: 20px;
    font-weight:600;
    color:#ffffff;
    font-family:"cursive";
}


